*{margin: 0px;padding: 0px;}
ul{list-style: none;}
a{text-decoration: none;}
/*网页头部样式*/
div.box>div.header{width:100%;height: 600px;/* background: pink; */margin: 0 auto;}
div.box>div.header>div.title{width: 100%;height: 70px;/* background: green; */}
div.box>div.header>div.title>img{margin: 21px 40px;position: absolute;}
div.box>div.header>div.title>ul{float: right;margin-right:50px; }
div.box>div.header>div.title>ul>li{float: left;margin: 0px 50px;height: 70px;line-height: 70px;font-family: 幼圆}
div.box>div.header>div.title>ul>li>a{color: black;}
div.box>div.header>div.title>ul>li>a:hover{background:linear-gradient(to right,red,orange,green,blue);-webkit-background-clip:text;color:transparent;}
div.box>div.header>ul.img{position: relative;}
div.box>div.header>ul.img>li{position: absolute;display: none}
div.box>div.header>ul.img>li:first-child{display:block;}
div.box>div.header>ul.img>li>a>img{width: 100%;height: 500px;}
div.box>div.header>ul.circle{position:absolute;left:50%;top:530px;}
div.box>div.header>ul.circle>li{width:15px;height:15px;background:rgba(100,100,100,0.2);float:left;margin:8px;border-radius:10px;z-index: 999;}
div.box>div.header>ul.circle>li:first-child{background:rgba(100,100,100,0.6);}