* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.style {
  width: 25%;
  height: 250px;
  flex-grow: 1;
  text-align: center;
}
.style h4 {
  height: 60px;
  line-height: 60px;
}
.box {
  font-family: 仿宋;
  font-size: 20px;
}
.box .nav {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  z-index: 999;
  transition: all 1s linear;
}
.box .nav img {
  width: 60px;
  margin-top: 30px;
  margin-left: 100px;
}
.box .nav span {
  color: #FF6B6B;
  float: right;
  line-height: 70px;
  margin-right: 40px;
  display: none;
}
.box .nav1 {
  display: none;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  z-index: 999;
  transition: all 1s linear;
}
.box .nav1 img {
  width: 60px;
  margin-top: 30px;
  margin-left: 100px;
}
.box .nav1 .btn {
  width: 45px;
  height: 35px;
  background: #666;
  float: right;
  margin: 35px 40px 0px 0px;
  border: 1px solid #0000008f;
  display: none;
}
.box .nav1 .btn:hover {
  background: black;
}
.box .nav1 .btn p {
  font-size: 55px;
  text-align: center;
  height: 19px;
  line-height: 19px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin: 6px auto;
  width: 27px;
  color: #fff;
}
.box .nav1 .subnav {
  width: 100%;
  height: 100px;
  background: #fff;
  text-align: center;
  font-size: 1.5rem;
  line-height: 100px;
  margin-top: -24px;
  display: none;
}
.box .nav1 .subnav a {
  color: #FF6B6B;
}
.box .header {
  width: 100%;
  height: 600px;
  background: url('../images/bg1.jpg') no-repeat center center / 100% 800px;
  position: relative;
}
.box .header .bg {
  width: 100%;
  height: 600px;
  background: #000000a1;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.box .header h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
  height: 150px;
  line-height: 150px;
  margin-top: 200px;
}
.box .header h1 b {
  color: #FF6B6B;
}
.box .header p {
  color: #fff;
  text-align: center;
  font-size: 17px;
}
.box .main {
  width: 100%;
  background: #f7f8fa;
}
.box .main .one {
  width: 90%;
  height: 450px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.box .main .one h2 {
  font-weight: normal;
  margin-top: 60px;
  text-align: center;
  font-size: 30px;
}
.box .main .one h2:after {
  content: "";
  display: block;
  width: 90px;
  height: 2px;
  background: #FF6B6B;
  margin: 20px auto;
}
.box .main .one .box {
  width: 100%;
  height: 250px;
  display: -webkit-flex;
  text-align: center;
  margin-top: 100px;
}
.box .main .one .box .left {
  width: 25%;
  height: 250px;
  flex-grow: 1;
  text-align: center;
}
.box .main .one .box .left h4 {
  height: 60px;
  line-height: 60px;
}
.box .main .one .box .left img {
  transition: all 2s linear;
}
.box .main .one .box .left img:hover {
  transform: rotateZ(360deg);
}
.box .main .one .box .middle {
  width: 25%;
  height: 250px;
  flex-grow: 1;
  text-align: center;
}
.box .main .one .box .middle h4 {
  height: 60px;
  line-height: 60px;
}
.box .main .one .box .middle img {
  transition: all 2s linear;
}
.box .main .one .box .middle img:hover {
  transform: rotateZ(360deg);
}
.box .main .one .box .right {
  width: 25%;
  height: 250px;
  flex-grow: 1;
  text-align: center;
}
.box .main .one .box .right h4 {
  height: 60px;
  line-height: 60px;
}
.box .main .one .box .right img {
  transition: all 2s linear;
}
.box .main .one .box .right img:hover {
  transform: rotateZ(360deg);
}
.box .main .two {
  width: 90%;
  height: 756px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.box .main .two h2 {
  font-weight: normal;
  margin-top: 60px;
  text-align: center;
  font-size: 30px;
}
.box .main .two h2:after {
  content: "";
  display: block;
  width: 90px;
  height: 2px;
  background: #FF6B6B;
  margin: 20px auto;
}
.box .main .two p {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  line-height: 25px;
  text-indent: 2em;
}
.box .main .two p b {
  color: #ff6b6b;
}
.box .main .two .box2 {
  width: 100%;
  height: 450px;
  display: -webkit-flex;
  margin-top: 100px;
}
.box .main .two .box2 .change {
  width: 50%;
}
.box .main .two .box2 .change img {
  width: 100%;
  height: 350px;
}
.box .main .two .box2 .right {
  width: 50%;
  height: 350px;
}
.box .main .two .box2 .right h2 {
  margin: 10px 20px;
  text-align: left;
  font-size: 30px;
}
.box .main .two .box2 .right h2:after {
  content: "";
  display: block;
  width: 90px;
  height: 2px;
  background: #FF6B6B;
  margin: 20px 10px;
}
.box .main .two .box2 .right h6.one-tit {
  margin: 10px 20px;
  font-size: 18px;
  position: relative;
  padding-left: 10px;
}
.box .main .two .box2 .right h6.one-tit:before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: #ccc;
  background: url('../images/4.png') no-repeat center center / 80%;
  margin-right: 20px;
}
.box .main .two .box2 .right h6.two-tit {
  margin: 10px 20px;
  font-size: 18px;
  position: relative;
  padding-left: 10px;
}
.box .main .two .box2 .right h6.two-tit:before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: #ccc;
  background: url('../images/5.png') no-repeat center center / 80%;
  margin-right: 20px;
}
.box .main .two .box2 .right p {
  text-indent: 0em;
  text-align: left;
}
.box .main .three {
  width: 90%;
  height: 500px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: #f7f8fa;
}
.box .main .three .box {
  width: 100%;
  height: 400px;
  display: -webkit-flex;
  margin-top: 100px;
}
.box .main .three .box .left {
  width: 50%;
  height: 350px;
}
.box .main .three .box .left h2 {
  margin: 10px 20px;
  text-align: left;
  font-size: 30px;
}
.box .main .three .box .left h2:after {
  content: "";
  display: block;
  width: 90px;
  height: 2px;
  background: #FF6B6B;
  margin: 20px 10px;
}
.box .main .three .box .left p {
  text-indent: 0em;
  text-align: left;
  margin: 50px 20px;
  font-size: 1.2rem;
}
.box .main .three .box .left p b {
  color: #ff6b6b;
}
.box .main .three .box .change {
  width: 50%;
}
.box .main .three .box .change img {
  width: 100%;
  height: 350px;
}
.box .main .four {
  width: width: 90%;
  height: 840px;
  margin: 0 auto;
  overflow: hidden;
}
.box .main .four h2 {
  font-weight: normal;
  margin-top: 60px;
  text-align: center;
  font-size: 30px;
}
.box .main .four h2:after {
  content: "";
  display: block;
  width: 90px;
  height: 2px;
  background: #FF6B6B;
  margin: 20px auto;
}
.box .main .four p {
  text-align: center;
  margin: 20px 0px;
}
.box .main .four ul {
  width: 90%;
  height: 300px;
  margin: 0 auto;
  display: -webkit-flex;
}
.box .main .four ul li {
  width: 25%;
  height: 250px;
  flex-grow: 1;
  text-align: center;
  margin-top: 50px;
}
.box .main .four ul li h4 {
  height: 60px;
  line-height: 60px;
}
.box .main .four ul li p {
  margin: 0px 30px;
}
.box .main .four ul li img {
  transition: all 1s linear;
}
.box .main .four ul li img:hover {
  transform: rotateZ(360deg);
}
.box .main .five {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
}
.box .main .five h2 {
  font-weight: normal;
  margin-top: 60px;
  text-align: center;
  font-size: 30px;
}
.box .main .five h2:after {
  content: "";
  display: block;
  width: 90px;
  height: 2px;
  background: #FF6B6B;
  margin: 20px auto;
}
.box .main .five p {
  text-align: center;
}
.box .main .five .box2 {
  width: 90%;
  height: 280px;
  margin: 0px auto;
  margin-top: 55px;
  overflow: hidden;
  position: relative;
}
.box .main .five .box2 ul.change {
  width: 300%;
  height: 280px;
  position: absolute;
  left: 0px;
}
.box .main .five .box2 ul.change li {
  width: 10%;
  height: 100%;
  float: left;
  margin: 0px 0.66666667%;
}
.box .main .five .box2 ul.change li a img {
  width: 100%;
  height: 85%;
}
.box .main .five .box2 ul.change li a img:hover {
  opacity: 0.7;
}
.box .main .five .box1 {
  width: 90%;
  height: 280px;
  margin: 0px auto;
  margin-top: 55px;
  overflow: hidden;
  position: relative;
  display: none;
}
.box .main .five .box1 ul.img {
  width: 100%;
  height: 85%;
}
.box .main .five .box1 ul.img li {
  width: 100%;
  height: 85%;
  position: absolute;
  display: none;
}
.box .main .five .box1 ul.img li img {
  width: 100%;
  height: 100%;
}
.box .main .five .box1 ul.circle {
  width: 220px;
  height: 20px;
  margin: 10px auto;
}
.box .main .five .box1 ul.circle li {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  float: left;
  border: 2px solid #eee;
  margin: 5px;
  background: #ccc;
}
.box .main .six {
  width: 100%;
  height: 400px;
  background: url('../images/bg7.jpg') no-repeat center center / 100% 800px;
  background-attachment: fixed;
  position: relative;
  text-align: center;
}
.box .main .six .bg {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #000000a1;
}
.box .main .six h4 {
  color: #fff;
  font-size: 22px;
  margin-top: 70px;
}
.box .main .six h2 {
  color: #fff;
  font-size: 40px;
  margin-top: 20px;
}
.box .main .six .btn {
  width: 150px;
  height: 60px;
  background: #FF6B6B;
  margin: 50px auto;
  color: #fff;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  border-radius: 8px;
}
.box .main .seven {
  width: 100%;
  height: 980px;
  overflow: hidden;
  text-align: center;
}
.box .main .seven h2 {
  font-weight: normal;
  margin-top: 60px;
  font-size: 30px;
}
.box .main .seven h2:after {
  content: "";
  display: block;
  width: 90px;
  height: 2px;
  background: #FF6B6B;
  margin: 20px auto;
}
.box .main .seven .box1 {
  width: 1000px;
  height: 500px;
  margin: 100px auto;
  background: #666;
}
.box .main .seven .box1 video {
  width: 100%;
}
.box .main .seven h3 {
  height: 40px;
  line-height: 40px;
}
.box .main .seven a {
  color: #FF6B6B;
  position: relative;
  height: 20px;
  line-height: 20px;
  top: 10px;
}
.box .main .seven a:before {
  content: "";
  display: inline-block;
  background: url('../images/邮箱.png') no-repeat center center / 80%;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  font-size: 17px;
  position: absolute;
  top: -8px;
  left: -50px;
}
.box .footer {
  width: 100%;
  height: 200px;
  text-align: center;
}
.box .footer img {
  width: 80px;
  height: 80px;
  margin-top: 60px;
}
.box .footer p {
  height: 50px;
  line-height: 50px;
}
/*PC*/
@media screen and (min-width: 980px) and (max-width: 1200px) {
  .box .main .two {
    height: 810px;
  }
  .box .main .two .change img {
    margin-top: 45px;
  }
  .box .main .five .box2 {
    height: 220px;
  }
  .box .main .seven {
    height: 900px;
  }
  .box .main .seven .box1 {
    width: 800px;
    height: 400px;
    margin: 100px auto;
  }
}
/*平板*/
@media screen and (min-width: 480px) and (max-width: 979px) {
  .box .nav {
    display: none;
  }
  .box .nav1 {
    display: block;
  }
  .box .header {
    height: 400px;
  }
  .box .header h1 {
    font-size: 35px;
    margin-top: 120px;
    height: 100px;
    line-height: 100px;
  }
  .box .header .bg {
    height: 400px;
  }
  .box .main .one {
    height: 1000px;
  }
  .box .main .one .box {
    display: block;
    width: 400px;
    margin-top: 0px;
    margin: 100px auto;
  }
  .box .main .one .box .left {
    width: 100%;
    font-size: 20px;
  }
  .box .main .one .box .middle {
    width: 100%;
    font-size: 20px;
  }
  .box .main .one .box .right {
    width: 100%;
    font-size: 20px;
  }
  .box .main .two {
    height: 1300px;
  }
  .box .main .two .box2 {
    display: block;
    margin: 100px auto;
  }
  .box .main .two .box2 .change {
    width: 85%;
    margin: 0 auto;
  }
  .box .main .two .box2 .change img {
    width: 100%;
    height: 80%;
  }
  .box .main .two .box2 .right {
    width: 85%;
    margin-top: 50px;
  }
  .box .main .three {
    height: 800px;
  }
  .box .main .three .box {
    display: block;
    margin: 60px auto;
  }
  .box .main .three .box .change {
    width: 85%;
    margin: 0 auto;
  }
  .box .main .three .box .change img {
    width: 100%;
    height: 80%;
    margin-top: 40px;
  }
  .box .main .three .box .left {
    width: 85%;
  }
  .box .main .three .box .left p {
    font-size: 1.2rem;
  }
  .box .main .four {
    height: 1650px;
  }
  .box .main .four ul {
    display: block;
    height: 650px;
  }
  .box .main .four ul li {
    width: 100%;
    height: 180px;
    text-align: center;
  }
  .box .main .five {
    height: 630px;
  }
  .box .main .five h2 {
    font-size: 23px;
  }
  .box .main .five .box2 {
    display: none;
  }
  .box .main .five .box1 {
    display: block;
    height: 400px;
  }
  .box .main .five .box1 ul.img li {
    width: 80%;
    margin: 0 10%;
  }
  .box .main .six {
    height: 330px;
  }
  .box .main .six h4 {
    font-size: 1.2rem;
  }
  .box .main .six h2 {
    font-size: 1.8rem;
  }
  .box .main .seven {
    height: 800px;
  }
  .box .main .seven .box1 {
    width: 500px;
    height: 290px;
    margin: 100px auto;
  }
}
/*手机 */
@media screen and (min-width: 300px) and (max-width: 479px) {
  .box .nav {
    display: none;
  }
  .box .nav1 {
    display: block;
  }
  .box .header {
    height: 300px;
  }
  .box .header h1 {
    font-size: 28px;
    margin-top: 100px;
    height: 100px;
    line-height: 100px;
  }
  .box .header .bg {
    height: 300px;
  }
  .box .main .one {
    height: 1000px;
  }
  .box .main .one h2 {
    font-size: 23px;
  }
  .box .main .one .box {
    display: block;
    width: 400px;
    margin-top: 0px;
    margin: 100px auto;
  }
  .box .main .one .box .left {
    width: 100%;
    font-size: 20px;
  }
  .box .main .one .box .middle {
    width: 100%;
    font-size: 20px;
  }
  .box .main .one .box .right {
    width: 100%;
    font-size: 20px;
  }
  .box .main .two {
    height: 1290px;
  }
  .box .main .two h2 {
    font-size: 23px;
  }
  .box .main .two p {
    font-size: 0.9rem;
  }
  .box .main .two p {
    font-size: 1.2rem;
  }
  .box .main .two .box2 {
    display: block;
    margin: 80px auto;
  }
  .box .main .two .box2 .change {
    width: 85%;
    margin: 0px auto;
  }
  .box .main .two .box2 .change img {
    width: 100%;
    height: 80%;
  }
  .box .main .two .box2 .right {
    width: 85%;
    margin-top: 50px;
  }
  .box .main .two .box2 .right h2 {
    font-size: 23px;
  }
  .box .main .two .box2 .right p {
    font-size: 1.1rem;
  }
  .box .main .three {
    height: 700px;
  }
  .box .main .three .box {
    display: block;
    margin: 60px 0px;
  }
  .box .main .three .box .change {
    width: 85%;
    margin: 0px auto;
  }
  .box .main .three .box .change img {
    width: 100%;
    margin-top: 50px;
    height: 80%;
  }
  .box .main .three .box .left {
    width: 85%;
  }
  .box .main .three .box .left h2 {
    font-size: 23px;
  }
  .box .main .three .box .left p {
    font-size: 1.1rem;
  }
  .box .main .four {
    height: 1600px;
  }
  .box .main .four h2 {
    font-size: 23px;
  }
  .box .main .four ul {
    display: block;
    height: 650px;
  }
  .box .main .four ul li {
    width: 100%;
    height: 180px;
    text-align: center;
  }
  .box .main .five {
    height: 530px;
  }
  .box .main .five h2 {
    font-size: 23px;
  }
  .box .main .five .box2 {
    display: none;
  }
  .box .main .five .box1 {
    display: block;
  }
  .box .main .six {
    height: 300px;
  }
  .box .main .six h4 {
    font-size: 18px;
  }
  .box .main .six h2 {
    font-size: 23px;
  }
  .box .main .six .btn {
    margin-top: 20px;
  }
  .box .main .seven {
    height: 630px;
  }
  .box .main .seven h2 {
    font-size: 23px;
  }
  .box .main .seven .box1 {
    width: 400px;
    height: 150px;
    margin: 100px auto;
  }
}
